<div class="sidebar-wrapper">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a href="/admin/auth/dashboard" data-bs-original-title="" title="">
                <!-- <img class="img-fluid for-white" src="/images/login/logos/logo-white.png" alt="logo"> -->
                <h2 style="color: azure;">TYS</h2>
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line middle sidebar-toggle"></i>
            </div>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list" id="admin-users">
                        <a class="sidebar-link sidebar-title link-nav" href="/admin/auth/dashboard">
                            <i class="ri-home-line"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>User</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/user/all-user">All User</a>
                            </li>
                            <li>
                                <a href="/admin/user/add-user">Add New User</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Attendance Overview</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/attendance/all-attendance">All Attendance</a>
                            </li>
                            <li>
                                <a href="/admin/attendance/add-attendance">Add New Attendance</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Address</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/address/all-address">All Address</a>
                            </li>
                            <li>
                                <a href="/admin/address/add-address">Add New Address</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Regularization</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/regularization/all-regularization">All Regularization</a>
                            </li>
                            <li>
                                <a href="/admin/regularization/add-regularization">Add New Regularization</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>TimeSheet</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/timeSheet/all-timeSheet">All TimeSheet</a>
                            </li>
                            <li>
                                <a href="/admin/timeSheet/add-timeSheet">Add New TimeSheet</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>TaskList</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/taskList/all-taskList">All TaskList</a>
                            </li>
                            <li>
                                <a href="/admin/taskList/add-taskList">Add New TaskList</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Personal Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/personal/all-personal">All Personal Details</a>
                            </li>
                            <li>
                                <a href="/admin/personal/add-personal">Add New Personal Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Family Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/family/all-family">All Family Details</a>
                            </li>
                            <li>
                                <a href="/admin/family/add-family">Add New Family Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Professional Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/professional/all-professional">All Professional Details</a>
                            </li>
                            <li>
                                <a href="/admin/professional/add-professional">Add New Professional Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Education Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/education/all-education">All Education Details</a>
                            </li>
                            <li>
                                <a href="/admin/education/add-education">Add New Education Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Project Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/project/all-project">All Project Details</a>
                            </li>
                            <li>
                                <a href="/admin/project/add-project">Add New Project Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Work Experience</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/work/all-work">All Work Experience Details</a>
                            </li>
                            <li>
                                <a href="/admin/work/add-work">Add New Work Experience Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Bank</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/bank/all-bank">All Bank</a>
                            </li>
                            <li>
                                <a href="/admin/bank/add-bank">Add New Bank</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>