<div class="sidebar-wrapper">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a href="/admin/auth/dashboard" data-bs-original-title="" title="">
                <!-- <img class="img-fluid for-white" src="/images/login/logos/logo-white.png" alt="logo"> -->
                <h2 style="color: azure;">Advaxo</h2>
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line middle sidebar-toggle"></i>
            </div>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list" id="admin-users">
                        <a class="sidebar-link sidebar-title link-nav" href="/admin/auth/dashboard">
                            <i class="ri-home-line"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Inventory</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/inventory/product-list">All Products</a>
                            </li>
                            <li>
                                <a href="/admin/inventory/add-product">Add New Product</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>User</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/user/all-user">All User</a>
                            </li>
                            <li>
                                <a href="/admin/user/add-user">Add New User</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Address</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/address/all-address">All Address</a>
                            </li>
                            <li>
                                <a href="/admin/address/add-address">Add New Address</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Personal Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/personal/all-personal">All Personal Details</a>
                            </li>
                            <li>
                                <a href="/admin/personal/add-personal">Add New Personal Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Family Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/family/all-family">All Family Details</a>
                            </li>
                            <li>
                                <a href="/admin/family/add-family">Add New Family Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Perfessional Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/perfessional/all-perfessional">All Perfessional Details</a>
                            </li>
                            <li>
                                <a href="/admin/perfessional/add-perfessional">Add New Perfessional Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Family Work Experience</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/personal/all-personal">All Work Experience Details</a>
                            </li>
                            <li>
                                <a href="/admin/personal/add-personal">Add New Work Experience Details</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>Education Details</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/personal/all-personal">All Education Details</a>
                            </li>
                            <li>
                                <a href="/admin/personal/add-personal">Add New Education Details</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>Work Order Production</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/order/all-orders">All WOP's</a>
                            </li>
                            <li>
                                <a href="/admin/order/select-customer">Create Order</a>
                            </li>
                            <li>
                                <a href="/admin/order/other-expenses">Other Expenses</a>
                            </li>
                        </ul>
                    </li> -->

                    <!-- <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-file-chart-line"></i>
                            <span>Bank Data</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/admin/auth/all-banks">All Banks</a>
                            </li>
                            <li>
                                <a href="/admin/auth/add-bank-data">Add Bank</a>
                            </li>
                            <li>
                                <a href="/admin/auth/internal-transfer">Internal Transfer</a>
                            </li>
                        </ul>
                    </li> -->

                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>